@font-face {
   font-family: uo;
   src: local(uo), url('uo-classic_v0.2.ttf') format('opentype');
}

body {
   font-family: uo;
   background: #000;
}

h1 {
   text-align: center;
}

.content {
   width: 800px;

   -moz-border-radius: 10px;
   border-radius: 10px;
   margin: 20px;
   padding: 30px;
   padding-top: 10px;
   background: url('./paper.jpg');

   min-height: 500px;
}

.gametext {
   font-size: 1em;
   display: block;

   max-height: 500px;
}

.gametext a {
   color: #D44;
   text-decoration: none;
}

.gametext p {
   border: 10px;
}

.button {
   margin: 10px;
   padding: 15px;
   padding-left: 20px;
   padding-right: 20px;
   
   display: inline-block;

   background: url('./img/gem_square_downscaled.png');
   background-size: 100% 100%;
   color: black;

   text-align: center;

   position: relative;
   bottom: 0px;

   transition: all .25s;
   -moz-transition: all .25s;
   -webkit-transition: all .25s;
   -o-transition: all .25s;
}

.button .mnem {
   position: absolute;
   display: block;
   right: 5px;
   bottom: 5px;
}

.noselect {
   cursor: pointer;
   /*Make it unselectable */
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select:none;
}

.button:hover {
   transition: all .25s;
   -moz-transition: all .25s;
   -webkit-transition: all .25s;
   -o-transition: all .25s;

   /*bottom: 10px;*/
}

#tiles_container {
   padding: 30px;
   float: left;

   width: 350px;
}

.tiles {
   border-collapse: collapse;

   overflow: hidden;
   table-layout: fixed;
   white-space: nowrap;

   width: 320px;
   height: 320px;
   /*border: 1px dashed black;*/
}

.tiles td {
   width: 32px;
   height: 32px;

   background-size: 32px 32px;
   padding: 0;
   margin: 0;
   text-align: center;

   overflow: hidden;
}

.tile {
   display: block;
   overflow: hidden;
}

.tiles td:hover {
   /*background: url('img/tile.png'), url('img/hover.png');*/
   background: url('img/hover.png');
}

.tiles td.selected {
   /*background: url('img/tile.png'), url('img/targeted.png');*/
   background: url('img/targeted.png');
}

#hover{
   float: left;

   width: 350px;
}

#hovertext {
   /*border: 1px black solid;*/
   float: none;
   display: block;
   padding: 30px;
}

.clear {
   clear: both;
}

hr {
   background-color: black;
   width: 50%;
}
