body {
   background: url('space.gif');
   color: #AFA;
   font-family: monospace;
}

.greenBox {
   border: 1px lime solid;
   padding: 2px;
   margin: 10px;
   display: block;
}

.darkBox {
   border: 1px lime solid;
   padding: 2px;
   margin: 10px;
   display: block;

   background: rgba(0,0,0,.8);
}

.greenButton {
   text-decoration: underline;
}

.greenButton:hover {
   background: lime;
   color: black;
   cursor: pointer;
}

.mainContent {
   background: rgba(0, 0, 0, .5);
   margin: 0 auto;
   border: 1px lime solid; 
   border-radius: 5px 5px;
   padding: 10px;
   width: 900px;

   overflow: auto;
}

.post {
   margin: 10px;
}

.meme {
   display: inline-block;
}

.fakeLink {
   text-decoration: underline;
   cursor: pointer;
}

.fakeLink:hover {
   color: black;
   background: lime;
}

/* LOCATIONS */
.location {
   width: 800px;
   height: 600px;

   background-size: 100% 100%; 

   position: relative;
}

.location h1 {
   left: 0px;
   top: 0px;

   padding: 10px;
   margin: 20px;

   line-height: 50px;
   font-size: 50px;

   display: inline-block;
}

#location_options {
   display: block;
   position: absolute;

   width: 50%;
   height: 50%;
   bottom: 0px;
   left: 0px;
}

.location_option {
   padding-left: 10px;
   width: 50%;
}
