body {
   background: url('space.gif');
   color: #AFA;
   font-family: monospace;
}

.mainContent {
   background: rgba(0, 0, 0, .5);
   margin: 0 auto;
   border: 1px lime solid; 
   border-radius: 5px 5px;
   padding: 10px;
   width: 900px;

   overflow: auto;
}

#mystats {
   width: 39%;
   float: right;
}

#mystats h3 {
   margin: 0;
   padding: 0;
   margin-bottom: 10px;
   text-align: center;
}

#myfiles {
   
}

ul.fileList {
   border: 1px lime solid;
   margin: 0 auto;
   padding: 10px;
   
   clear: right;

}

ul * {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

ul.fileList li {
   background: url('img/file_icon.png') no-repeat left center;
   padding-left: 50px;
   min-height: 50px;

   overflow: hidden;

   border: 1px lime solid;
   margin-top: 10px;
   margin-bottom: 10px;
}

ul.fileList li:hover {
   cursor: pointer;
   background-color: #131;
   color: lime;
}

ul.fileList li.repost:hover {
   background-color: #F11;
   background: url('img/repost_red.png');
}

ul.fileList li.postOK:hover {
   background-color: #131;
}

ul.fileList li .detail {
   background: #AFA;
   color: black;
   border-radius: 5px 5px;

   padding: 5px;
   margin: 1px;
   line-height: normal;
   min-height: auto;

   display: inline-block;
}

ul.fileList .deleteButton {
   display: block;
   float: right;
   border: 1px green solid;
   color: red;
   text-align: center;
   top: 0;
   right: 0;
   width: 15px;
   height: 15px;

   cursor: pointer;
}

.details {
   height: 0px;
   overflow: hidden;
}

.forum {
   border: 1px lime solid;
   min-height: 600px;
   width: 60%;
   float: left;

   display: block;
}

.forum h3 {
   text-align: center;
}

.forumPosts {
   padding-left: 10px;
   padding-right: 10px;
}

.myfiles:after {
   clear: both;
}

.dragIcon {
   border: 1px lime solid;
   background: black;
   padding: 5px;

   position: absolute;
   /*display: none;*/
}

#f5 {
   border: 1px lime solid;
   padding: 2px;
   margin: 10px;
   display: inline;
}

#f5:hover {
   background: lime;
   color: black;
   cursor: pointer;
}
